
body {
    color:white;
    background:#202020
}

/* Set the size of the div element that contains the map */
#map {
  height: 800px;

  width: 90%;
  /* The width is the width of the web page */
}

#logo{
margin: 10px;
}



.bottom{
  position: absolute;
  bottom:5;
}

.markerbox{

}

input.formbg{
  background: #404040;
  color: white;
  display: block;
  flex-flow: column wrap;
  margin: 0 auto;
  position: relative;
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: border-color 0.2s ease-in-out;
}

.markercontainer{
border-radius:10px;
background:#404040 ;
margin: 20px;
padding: 20px;
height: 230px;
position: relative;
}

.flash{
border-radius:10px;
background:#404040 ;
margin: 20px;
padding: 20px;
width: 150;
height: 100;
margin: 0 auto;
}

#seewhere{
  left:0;
  width:100%;
}

.Vcenter{
  padding: 70px 0;
}

.center{
text-align: center;
}

#map{
  color:black;
}

#inputb{
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: border-color 0.2s ease-in-out;
}

*{
  text-align: center;
}

#mp{
  font-size: x-large;
  margin: 30px;
}