*{

}

body {
    color:white;
    background:#202020
}

/* Set the size of the div element that contains the map */
#map {
  height: 800px;

  width: 90%;
  /* The width is the width of the web page */
}

#logo{
margin: 10px;
}



.bottom{
  position: absolute;
  bottom:5;
}

.markerbox{

}

input.formbg{
  background: #404040;
}

.markercontainer{
border-radius:10px;
background:#404040 ;
margin: 20px;
padding: 20px;
height: 230px;
position: relative;
}

.flash{
border-radius:10px;
background:#404040 ;
margin: 20px;
padding: 20px;
width: 150;
height: 80;
margin: 0 auto;
}

#seewhere{
  left:0;
  width:100%;
}

.center{
text-align: center;
}
