{% extends "base.html" %}

{% block title %}Feed{% endblock %}

{% block head %}


{% endblock %}

{% block content %}

<script>
    function sendMap ()
    { render_template("map.html") }
</script>

<h1>24hr Feed</h1>
<br/>
    {% if feedData %}
        {% for mrk in feedData %}
            <h3>{{mrk.title}}</h3>
            <h4>{{mrk.address}}</h4>
            <h4>{{mrk.creation.strftime("%H:%M")}}</h4>
            <a class="nav-link" href="/map">See Where</a>
    <!--        <button type="button" href="/map">See Where</button>-->
            <br/>
            <br/>
        {% endfor %}
    {% else %}
        <h3>Nothing to worry about</h3>
    {% endif %}
{% endblock %}