{% extends "base.html" %}
{% block title %}Aware{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">




{% endblock %}

{% block content %}
<h1 class="center mp">Welcome to Aware</h1>
<br/>
    <h3 class="center mp">Aware is a platform where people can report issues and concerns and accidents in their neighborhood, such as potholes, car accidents, protests, and other problems that affect the quality of life in their community.</h3>
    <h3 class="center mp">By reporting issues on Aware, you can help raise awareness and encourage action from local authorities and community organizations to improve your neighborhood and make it a better place to live.</h3>
    <h3 class="center mp">Thank you for using Aware to make your voice heard and make a difference in your community.</h3>

{% endblock %}
