{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <div class="flash center">
                    <p >{{msg}}</p>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
<form action="#" method="post">
    <br/>
    <p>Username:</p>
    <p><input type="text" name="nm" class="formbg" required/></p>
    <p>Password:</p>
    <p><input type="password" name="pwrd" class="formbg" required/></p>
    <p><input type="submit" value="login" /></p>
</form>
{% endblock %}