{% extends "base.html" %}

{% block title %}Map{% endblock %}

{% block head %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script type="module" src="{{ url_for('static' ,filename='index.js') }}"></script>

{% endblock %}

{% block content %}

<br/>

    <div id="map"

    ></div>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAqWy0DmJhNoklNmZgyVRiZY9daxfswrY&region=EN&language=en&callback=initMap&v=weekly"
      defer
    ></script>
{% endblock %}
