{% extends "base.html" %}

{% block title %}Report{% endblock %}

{% block head %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyAAqWy0DmJhNoklNmZgyVRiZY9daxfswrY"></script>
<script>
    var searchInput = 'search_input';

    $(document).ready(function () {
        var autocomplete;
        autocomplete = new google.maps.places.Autocomplete((document.getElementById(searchInput)), {
            types: ['geocode'],
         componentRestrictions: {
               country: "ISR"
        }
        });

        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var near_place = autocomplete.getPlace();
            document.getElementById('loc_lat').value = near_place.geometry.location.lat();
            document.getElementById('loc_long').value = near_place.geometry.location.lng();

            document.getElementById('latitude_view').value = near_place.geometry.location.lat();
            document.getElementById('longitude_view').value = near_place.geometry.location.lng();
        });
    });

    $(document).on('change', '#'+searchInput, function () {
        document.getElementById('latitude_input').value = '';
        document.getElementById('longitude_input').value = '';

        document.getElementById('latitude_view').innerHTML = '';
        document.getElementById('longitude_view').innerHTML = '';
    });
</script>
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
               <div class="flash center">
                    <p >{{msg}}</p>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
<!--<form action="#" method="post">-->
<!--    <p>Adress:</p>-->
<!--    <p><input type="text" name="adr" /></p>-->
<!--    <p>Description:</p>-->
<!--    <p><input type="text" name="des" /></p>-->
<!--    <p><input type="submit" value="login" /></p>-->
<!--</form>-->

<div class="form-group">

<!--    <input type="text" lass="form-control" id="search_input" placeholder="Type address..." name="adre" />-->
<!--    <input type="hidden" value=""-->
    <input type="hidden" id="loc_lat" />
    <input type="hidden" id="loc_long" />
</div>

<!-- Display latitude and longitude -->
<!--<div class="latlong-view">-->
<!--    <p><b>Latitude:</b> <span id="latitude_view"></span></p>-->
<!--    <p><b>Longitude:</b> <span id="longitude_view"></span></p>-->
<!--</div>-->

<form action="#" method="post">
    <label>Location:</label>
    <input type="text" lass="form-control" id="search_input" placeholder="Type address..." name="adre" class="formbg" />
    <br/>
    <label>Description:</label>
<input type="text" name="des" placeholder="Type description..." class="formbg" />

    <input type="hidden" id="latitude_view" name="la">
    <input type="hidden" id="longitude_view" name="ln">
    <p><input type="submit" value="Submit" /></p>
    </form>

{% endblock %}