{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <div class="flash center">
                    <p >{{msg}}</p>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

<form action="#" method="post">
    <h1>Hello {{ user}}</h1>
    <input type="email" name="email" placeholder="Enter Email" value="{{email if email}}" class="formbg"/>
    <br/>
    <br/>
    <input type="tel" name="phone" placeholder="Enter Your Phone" value="{{phone if phone}}" class="formbg"/>
    <br/>
    <br/>
    <input type="submit" value="submit"/>
</form>
{% endblock %}